
#profilePict{
        height:200px;
        width:auto;
        text-align:right;
        /*border-radius:150px;*/
 }

.peronal-info{
     text-align: left;
 }

.board-img{
    max-width: 700px;
    min-width: 100px;
    height: auto;
    filter: blur(6px);
}