/*pizarras*/

.board-img{
    filter: blur(3px);
}

.headInfo{
    font-style: italic;
    font-size: 55px;
 }

#aboutYou{
    font-style: oblique;
}

#profilePict{
        height:200px;
        width:auto;
        /*border-radius:150px;*/
 }

 .profile{
    /*tamaño de fuente para el perfil de*/
     font-size: 20px;
 }

 .cardStyle{
    background: white;
    border-radius: 25px;
    box-shadow: 5px 3px 30px gray;
 }

 .grayText{
     color: gray;
 }